<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ORMappingComponent.Properties.Settings.iTECERPConnectionString"
            connectionString="Data Source=LACRIMA\LACRIMA;Initial Catalog=iTECERP;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>