<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="localhostDB" value="Data Source=LACRIMA\LACRIMA;Initial Catalog=CompanyDB;UID=sa;PWD=123456;"/>
    <!--参数名相同配置方法读取最后一个的值-->
    <add key="localhostDB" value="Data Source=.\localdb;Initial Catalog=EOPDB;UID=sa;PWD=123456;"/>
    <add key="RequestURL" value="http://interface.ebs.home.test.fang.com/Gethandler.ashx?timestamp=2015/11/11%2016:50:32&amp;version=v2.2.0&amp;Method=IndexInfo&amp;isPost=0"/>
    <add key="instruction" value="安装apache服务器使用ab.exe进行压力测试；"/>
    <add key=" App.config/Web.config 中特殊字符的处理" value="http://www.cnblogs.com/fordwayne/p/3200470.html"/>
    <add key=" 发送post请求参数参照页面" value="http://djw0101.iteye.com/blog/1233758"/>
    <add key="return_url" value="http://interface2.ebs.home.test.fang.com/C_Common/NewNoticePayUrl.aspx"/>    <!-- 传的URL,即MVC页地址-->
    <add key="soufunId" value="73318605"/>   <!--充值人的soufunid -传参-->
    <add key="paidAmount" value="0.01"/>  <!--支付金额       传的-->
    <add key="tradeAmount" value="0.01"/>     <!--订单金额    传的-->
    <add key="price" value="0.01"/>         <!--单价 支付金额-->
    <add key="title" value="EOP"/> <!--EOP商家质保金/预存款-->
    <add key="title1" value="EOP预存款"/><!--EOP商家质保金/预存款-->
    <add key="subject" value="EOP商家|商家ID|质保金/预存款|充值xxx元"/>        <!--描述  EOP商家|商家ID|质保金/预存款|充值xxx元-->
    <add key="extra_param" value="extra_param"/>    <!--额外参数 商家ID|支付类型|backurl跳转的地址（由用户传入） -->
    <add key="tradeType" value="30003"/>
    <!--交易类型  固定值-->
    <add key="invoker" value=""/>
    <!--不赋值-->
    <add key="quantity" value="1"/>
    <!--数量  1 固定-->
    <add key="platform" value="PC"/>       <!--平台  PC固定-->
    <add key="origin" value="EOP后台"/>         <!--来源 EOP后台  固定-->
    <add key="charset" value="GB2312"/>        <!--GB2312 固定-->
    <!--// 1. 记日志
    // 2. 判断支付状态
    // 3. 成功
    更新Partner_CompanyExtent 表里的字段。   
    原来账户金额为10元，充值后100元后金额为10+100=110元
    10 += 100
    // 4. 跳转-->
    <!--EBS电子合同加密密钥和向量-->
    <add key="AdvancedEncryption_KEY" value=")O[NB]6,YF}aefcaj{aoESb9d8>Z'e9M"/>
    <add key="AdvancedEncryption_IV" value="La\~f4,Ir)b$epkf"/>
    <!--电子合同沙箱库测试账号-->
    <add key="北京" value="13244444401,13244444402,18500001111,13811112222"/>
    <add key="重庆" value="13244444403,13244444452"/>
    <add key="郑州" value="13244444405,13244444406,13244444453"/>
    <add key="广州" value="13244444407,13244444454"/>
    <add key="青岛" value="13244444409,13244444410"/>
    <add key="上海" value="13244444411,13244444455"/>
    <add key="成都" value="13244444413,13244444414,13244444443,13244444444"/>
    <add key="深圳" value="13244444415,13244444456"/>
    <add key="无锡" value="13244444417,13244444457"/>
    <add key="苏州" value="13244444420,13244444445"/>
    <add key="武汉" value="13244444421,13244444422,13244444446,13244444447"/>
    <add key="天津" value="13244444423,13244444458,13244444459"/>
    <add key="西安" value="13244444425,13244444426"/>
    <add key="杭州" value="13244444427,13244444428,13244444448"/>
    <add key="长沙" value="13244444429,13244444430"/>
    <add key="石家庄" value="13244444431,13244444432,13244444449,13244444450"/>
    <add key="宁波" value="13244444433,13244444434"/>
    <add key="济南" value="13244444435,13244444460,13244444461,13244444462,13244444463,13244444464,13244444465,13244444466,13244444467"/>
    <add key="沈阳" value="13244444437,13244444468,13244444469,13244444451"/>
    <add key="大连" value="13244444439,13244444470,13244444471,13244444472"/>
    <add key="南京" value="13244444441,13244444473,13244444474,13244444475"/>
  </appSettings>
  <connectionStrings>
    <!--测试库-->
    <add name="OrderReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="OrderWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="ServiceCenterReadOnly" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="ServiceCenterWrite" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="UserReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="UserWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="SandBox" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    
    <!--沙箱库-->
    <add name="EBS_READ" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    <add name="EBS_WRITE_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    <add name="EBS_ADMIN_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    <!--报错页面数据库地址-->  
</connectionStrings>
</configuration>