<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="RequestURL" value="http://interface.ebs.home.test.fang.com/Gethandler.ashx?timestamp=2015/11/11%2016:50:32&amp;version=v2.2.0&amp;Method=IndexInfo&amp;isPost=0"/>
  </appSettings>
  安装apache服务器
  使用ab.exe进行压力测试；
  
  
</configuration>