<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="localhostDB" value="Data Source=LACRIMA\LACRIMA;Initial Catalog=CompanyDB;UID=sa;PWD=123456;"/>
    <add key="RequestURL" value="http://interface.ebs.home.test.fang.com/Gethandler.ashx?timestamp=2015/11/11%2016:50:32&amp;version=v2.2.0&amp;Method=IndexInfo&amp;isPost=0"/>
    <add key="instruction" value="安装apache服务器使用ab.exe进行压力测试；"/>
    <add key=" App.config/Web.config 中特殊字符的处理" value="http://www.cnblogs.com/fordwayne/p/3200470.html"/>
    <add key=" 发送post请求参数参照页面" value="http://djw0101.iteye.com/blog/1233758"/>


    <add key="return_url" value="http://interface2.ebs.home.test.fang.com/C_Common/NewNoticePayUrl.aspx"/>    <!-- 传的URL,即MVC页地址-->
    <add key="soufunId" value="73318605"/>   <!--充值人的soufunid -传参-->
    

    <add key="paidAmount" value="0.01"/>  <!--支付金额       传的-->
    <add key="tradeAmount" value="0.01"/>     <!--订单金额    传的-->
    <add key="price" value="0.01"/>         <!--单价 支付金额-->
    <add key="title" value="EOP"/> <!--EOP商家质保金/预存款-->
    <add key="title1" value="EOP预存款"/><!--EOP商家质保金/预存款-->
    <add key="subject" value="EOP"/>        <!--描述  EOP商家|商家ID|质保金/预存款|充值xxx元-->
    <add key="extra_param" value="extra_param"/>    <!--额外参数 商家ID|支付类型|backurl跳转的地址（由用户传入） -->



    <add key="tradeType" value="30003"/>
    <!--交易类型  固定值-->
    <add key="invoker" value=""/>
    <!--不赋值-->
    
    <add key="quantity" value="1"/>
    <!--数量  1 固定-->
    <add key="platform" value="PC"/>       <!--平台  PC固定-->
    <add key="origin" value="EOP后台"/>         <!--来源 EOP后台  固定-->
    <add key="charset" value="GB2312"/>        <!--GB2312 固定-->
    <!--// 1. 记日志
    // 2. 判断支付状态
    // 3. 成功
    更新Partner_CompanyExtent 表里的字段。   
    原来账户金额为10元，充值后100元后金额为10+100=110元
    10 += 100
    // 4. 跳转-->

  </appSettings>
  <connectionStrings>
    <add name="OrderReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="OrderWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="ServiceCenterReadOnly" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="ServiceCenterWrite" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="UserReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="UserWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
  </connectionStrings>
</configuration>