<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.net>
      <!--C#调用WebService出现“基础连接已经关闭：接收时发生错误”错误-->
      <settings>
        <httpWebRequest useUnsafeHeaderParsing="true"/>
      </settings>
    </system.net>
  <appSettings >
    <add key="count" value="60"/>
  </appSettings>

</configuration>

