<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.net>
      <!--C#调用WebService出现“基础连接已经关闭：接收时发生错误”错误-->
      <settings>
        <httpWebRequest useUnsafeHeaderParsing="true"/>
      </settings>
    </system.net>
  <connectionStrings>
    <add name="LOCAL_DATABASE" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <add name="EBS_READ" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;"/>
    <add name="EBS_WRITE" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;"/>
    <add name="EBS_READ_TEST" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;"/>
    <add name="EBS_WRITE_TEST" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;"/>
    <add name="OPENPLATFORM_READ" connectionString="Data Source=192.168.1.51;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <add name="OPENPLATFORM_WRITE" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <add name="OPENPLATFORM_READ_TEST" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <add name="EOP_READ" connectionString="Data Source=192.168.1.104;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <add name="EOP_WRITE" connectionString="Data Source=192.168.1.104;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <add name="EOP_READ_TEST" connectionString="Data Source=192.168.1.104;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <add name="EOP_WRITE_TEST" connectionString="Data Source=192.168.1.104;Initial Catalog=OpenTestDB;UID=sa;PWD=123456;"/>
    <!--<add name="OrderReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>-->
    <!--<add name="OrderReadOnly" connectionString="Data Source=124.251.44.98;Initial Catalog=home_ebs01 ;UID=home_ebs_r;PWD=j6tut6Uc;" />-->
    <!--<add name="OrderReadOnly" connectionString="Data Source=124.251.44.98;Initial Catalog=home_ebs ;UID=home_ebs_r;PWD=j6tut6Uc;" />-->
    <add name="OrderReadOnly" connectionString="Data Source=.\localdb;Initial Catalog=MyTestDB;UID=sa;PWD=123456;" />
    <add name="OrderWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="ServiceCenterReadOnly" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="ServiceCenterWrite" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="UserReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <!--<add name="UserReadOnly" connectionString="Data Source=.\localdb;Initial Catalog=MyTestDB;UID=sa;PWD=123456;" />-->
    <add name="UserWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
  </connectionStrings>
  <appSettings >
    <add key="count" value="60"/>
    <add key="SMS_NAME" value="homeCoupon"/>
    <add key="SMS_PWD" value="1ee6d7"/>
    <add key="EBS_SMS_NAME" value="jiaju_yx"/>
    <add key="EBS_SMS_PWD" value="jd56th"/>
    <add key="TUIGUANG_SMS_NAME" value="jiaju_tuiguang"/>
    <add key="TUIGUANG_SMS_PWD" value="28ca31"/>
    <add key="NOTICE_SMS_NAME" value="jiaju_notice"/>
    <add key="NOTICE_SMS_PWD" value="dftr59w"/>
    <add key="Message_NAME" value="jiaju_yhj"/>
    <add key="Message_PWD" value="47de83"/>
    
    <!--带有自定义超时时间的数据库连接字符串-->
    <add key="DBWithTimeOut" value="Data Source=.\localdb;Initial Catalog=workDB;UID=sa;PWD=123456;Connect Timeout=32767"/>
    <!--具有默认超时时间的数据库连接字符串-->
    <add key="LocalDB" value="Data Source=.\localdb;Initial Catalog=workDB;UID=sa;PWD=123456;"/>
  </appSettings>

</configuration>

