<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.net>
      <!--C#调用WebService出现“基础连接已经关闭：接收时发生错误”错误-->
      <settings>
        <httpWebRequest useUnsafeHeaderParsing="true"/>
      </settings>
    </system.net>
  <appSettings >
    <add key="count" value="60"/>
    <add key="SMS_NAME" value="homeCoupon"/>
    <add key="SMS_PWD" value="1ee6d7"/>
    <add key="EBS_SMS_NAME" value="jiaju_yx"/>
    <add key="EBS_SMS_PWD" value="jd56th"/>
    <add key="TUIGUANG_SMS_NAME" value="jiaju_tuiguang"/>
    <add key="TUIGUANG_SMS_PWD" value="28ca31"/>
    <add key="NOTICE_SMS_NAME" value="jiaju_notice"/>
    <add key="NOTICE_SMS_PWD" value="dftr59w"/>
    <add key="Message_NAME" value="jiaju_yhj"/>
    <add key="Message_PWD" value="47de83"/>

  </appSettings>

</configuration>

