<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdvancedEncryption_KEY" value=")O[NB]6,YF}aefcaj{aoESb9d8>Z'e9M"/>
    <add key="AdvancedEncryption_IV" value="La\~f4,Ir)b$epkf"/>
  </appSettings>
  <connectionStrings>
    <!--我的数据库-->
    <add name="OrderReadOnly" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;" />
    <add name="UserWrite" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;" />
    <!--<add name="OrderReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>-->
    <add name="OrderWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="ServiceCenterReadOnly" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="ServiceCenterWrite" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="UserReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="TestServerDB" connectionString="Data Source=192.168.179.237\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;"/>
    <add name="CommentServerDB" connectionString="Data Source=.\localdb;Initial Catalog=interface_ebs_test;UID=sa;PWD=123456;"/>
    <!--<add name="UserWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>-->
    <!--沙箱-->
    <add name="EBS_READ_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    <add name="EBS_WRITE_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    <!--测试库-->
    <add name="EBS_READ" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="EBS_WRITE" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <!--本地测试数据库-->
    <add name="LOCAL_DATABASE" connectionString="Data Source=.\localdb;Initial Catalog=TestServerDB;UID=sa;PWD=123456;"/>
  </connectionStrings>
</configuration>