<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="ServiceModule">
    <!--<bind name="Txtlog" service="LogService.ILogService,LogService" to="LogService.Impl.TxtLogService,LogService"/>
    <bind name="Sword" service="NinjectApp.Weapon.IWeapon,NinjectApp" to="NinjectApp.Weapon.Sword,NinjectApp"/>
    <bind name="FootSoldier" service="NinjectApp.Warrior.IWarrior,NinjectApp" to="NinjectApp.Warrior.FootSoldier,NinjectApp"/>-->
    <bind name="Dblog" service="LogService.ILogService,LogService" to="LogService.Impl.DbLogService,LogService"/>
  </module>
</configuration>

<!--https://github.com/ninject/ninject.extensions.xml-->
<!--<module name="SomeModule">
  <bind service="Game.IWeapon" to="Game.Sword"/>
  <bind service="Game.IWarrior" toProvider="Game.SamuraiProvider"/>
</module>-->