<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="Transaction_Interface" value="https://payment.test.fang.com/cashiernew/cashierordercreateforweb.html"/>
  </appSettings>
  <connectionStrings>
    <add name="OrderReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="OrderWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="ServiceCenterReadOnly" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="ServiceCenterWrite" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="UserReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="UserWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>

    <!--测试库-->
    <add name="EBS_READ" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="EBS_WRITE" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="DESIGNER_READ" connectionString="Data Source=123.103.35.138;Initial Catalog=Home_WeiKe_test01;UID=Home_WeiKe_test_admin;PWD=d1H9493f;"/>
    <add name="DESIGNER_WRITE" connectionString="Data Source=123.103.35.138;Initial Catalog=Home_WeiKe_test01;UID=Home_WeiKe_test_admin;PWD=d1H9493f;"/>
    <add name="ZXB_READ" connectionString="server=123.103.35.138;Database=Home_WeiKe_test01;uid=Home_WeiKe_test_admin;pwd=d1H9493f;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="ZXB_WRITE" connectionString="server=123.103.35.138;Database=Home_WeiKe_test01;uid=Home_WeiKe_test_admin;pwd=d1H9493f;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="EBS_Log_READ" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="EBS_Log_WRITE" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>

    <add name="ConnReader" connectionString="Data Source=124.251.46.179;Initial Catalog=Home_Customer_test;UID=Home_Customer_admin;PWD=c1831bd7;" providerName="System.Data.SqlClient"/>
    <add name="ConnWriter" connectionString="Data Source=124.251.46.179;Initial Catalog=Home_Customer_test;UID=Home_Customer_admin;PWD=c1831bd7;" providerName="System.Data.SqlClient"/>
    <add name="HomeCustomer_admin" connectionString="Data Source=124.251.46.179;Initial Catalog=Home_Customer_test;UID=Home_Customer_admin;PWD=c1831bd7;" providerName="System.Data.SqlClient"/>
    <add name="EBS_READ_TEST" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test0723;UID=jjjy_test0723_admin;PWD=b947aDe7;" providerName="System.Data.SqlClient"/>
    <add name="EBS_WRITE_TEST" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test0723;UID=jjjy_test0723_admin;PWD=b947aDe7;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="ESignature_DownloadFileURL" value="http://interface.ebs.home.fang.com/ESignature/DownloadFile.ashx"/>
    <!--测试站-->
    <add key="ESignature_DownloadFileURL" value="http://interface.ebs.home.test.fang.com/ESignature/DownloadFile.ashx"/>
  </appSettings>
</configuration>
