<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="Transaction_Interface" value="https://payment.test.fang.com/cashiernew/cashierordercreateforweb.html"/>
  </appSettings>
  <connectionStrings>
    <add name="OrderReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="OrderWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="ServiceCenterReadOnly" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="ServiceCenterWrite" connectionString="server=124.251.46.179;Database=home_sendorder_test;uid=home_sendorder_test_admin;pwd=a67R34c6"/>
    <add name="UserReadOnly" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <add name="UserWrite" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
  </connectionStrings>
</configuration>
